{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10",
          "chrome": "59",
          "safari": "11",
          "firefox": "56",
          "edge": "14"
        }
      }
    ]
  ]
}
