shamefully-hoist = true

; This is needed for prettier to be able to use the plugin specified by the `@sanity/prettier-config` preset
public-hoist-pattern[]=*prettier*

prefer-workspace-packages = true
link-workspace-packages = deep
