shamefully-hoist = true

; This is needed for prettier to be able to use the plugin specified by the `@sanity/prettier-config` preset, as well as eslint plugins defined by `@repo/eslint-config`
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

prefer-workspace-packages = true
link-workspace-packages = deep
