# Setup env by running `npx vercel link && npx vercel env pull` in your cli
# If you don't have access to the Vercel deploy then `cp .env.local.example .env.local` and set these up manually
NEXT_PUBLIC_SANITY_PROJECT_ID="pv8y60vp"
NEXT_PUBLIC_SANITY_DATASET="production"
# Used for Preview Mode, it's exposed clientside for those who launch the preview pages/api/preview
# SANITY_API_READ_TOKEN=...